@inject Blazored.LocalStorage.ILocalStorageService LocalStore

@page "/"

<h1>Your LocalStorage Note</h1>

<textarea @bind="noteContent" />
<br />
<button @onclick="UpdateLocalStorage">Save</button>
<button @onclick="ClearLocalStorage">Clear</button>

@code{
    const string noteKey = "note";
    string noteContent;

    public async void UpdateLocalStorage()
    {
        await LocalStore.SetItemAsync(noteKey, noteContent);
    }

    public async void ClearLocalStorage()
    {
        noteContent = "";
        await LocalStore.ClearAsync();
    }


    //Get from localstore
    protected override async Task OnInitializedAsync()
    {
        noteContent = await LocalStore.GetItemAsync<string>(noteKey);
    }
}